[submodule "DevProject"]
	path = DevProject
	url = C:/Users/fylit/Documents/gitRepo/DevProject
[submodule "Excursion"]
	path = Excursion
	url = https://github.com/Kim-Marberry/Excursion.git
[submodule "Kim-Marberry.github.io"]
	path = Kim-Marberry.github.io
	url = https://github.com/Kim-Marberry/Kim-Marberry.github.io.git
